
.container{
    background-image: url('./acasaBackground.jpg');
    backgound-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.c{
    text-align: center;
    color: black;
    font-size: 50px;
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    top: 30%;
    width: 100%;
}

div.bottomRight{
    position: absolute;
    bottom: 150px;
    right: 100px;
    font-size: 30px;
    color: black;
}

div.bottomRightCoordinator{
    position: absolute;
    bottom: 100px;
    right: 250px;
    font-size: 30px;
    color: black;
}

div.copyrightContact {
    position: absolute;
    bottom: -47px;
    right: 50px;
    font-size: 15px;
    color: black;
}


div.email{
    position: absolute;
    font-size: 23px;
    color: black;
    left: 40px;
    top: 400px;
}

div.textEmail{
    position: absolute;
    font-size: 20px;
    color: black;
    left: 80px;
    top: 440px;
}

div.tel{
    position: absolute;
    font-size: 23px;
    color: black;
    left: 40px;
    top: 290px;
}

div.telText{
    position: absolute;
    font-size: 20px;
    color: black;
    left: 80px;
    top: 330px;
}

div.adr{
    position: absolute;
    font-size: 23px;
    color: black;
    left: 40px;
    top: 150px;
}

div.adrText{
    position: absolute;
    font-size: 20px;
    color: black;
    left: 80px;
    top: 190px;
}

div.adrText2{
    position: absolute;
    font-size: 20px;
    color: black;
    left: 80px;
    top: 220px;
}

div.msj{
    position: absolute;
    font-size: 40px;
    color: black;
    right: 370px;
    top: 100px;
}

div.form{
   position: absolute;
    right: -720px;
    top: 130px;
}

div.form1{
    position: absolute;
    right:-780px;
    top:130px;
}

div.emailForm{
    position: absolute;
    right: -210px;
    top: 200px;
}

div.telForm{
    position: absolute;
    right: 24%;
    top: 200px;
}

div.textForm{
    position: absolute;
    left: -50px;
    top: 300px;

}

div.submit{
    position: absolute;
    left: -270px;
    top: 470px;
}
div.newForm{
    position: absolute;
    right: 57px;
    top: 37%;
}
div.textt2{
    position: absolute;
    right: 100px;
    top: 540px;
    font-size: larger;
}