
.container{
    background-image: url('./acasaBackground.jpg');
    backgound-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.c{
    text-align: center;
    color: black;
    font-size: 50px;
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    top: 30%;
    width: 100%;
}

div.bottomRight{
    position: absolute;
    bottom: 150px;
    right: 100px;
    font-size: 30px;
    color: black;
}

div.bottomRightCoordinator{
    position: absolute;
    bottom: 100px;
    right: 250px;
    font-size: 30px;
    color: black;
}

div.copyrightCoordonator{
    position: absolute;
    bottom: -24px;
    right: 50px;
    font-size: 15px;
    color: black;
}


div.cooName{
    position:absolute;
    top: 90px;
    left: 50px;
    font-size:50px;
    color:black;
}

div.functie{
    position:absolute;
    top: 220px;
    left:100px;
    font-size: 24px;
    color: black;
}

div.projectResearch{
    position:absolute;
    top: 260px;
    left:100px;
    font-size: 24px;
    color: black;
}

div.projectResearch1{
    position:absolute;
    top: 300px;
    left:364px;
    font-size: 24px;
    color: black;
}

div.projectResearch2{
    position:absolute;
    top: 340px;
    left:340px;
    font-size: 24px;
    color: black;
}

div.projectResearch22{
    position:absolute;
    top: 380px;
    left:364px;
    font-size: 24px;
    color: black;
}
div.projectResearch222{
    position:absolute;
    top: 420px;
    left:364px;
    font-size: 24px;
    color: black;
}

div.projectResearch3{
    position:absolute;
    top: 460px;
    left:340px;
    font-size: 24px;
    color: black;
}

div.projectResearch33{
    position:absolute;
    top: 500px;
    left:364px;
    font-size: 24px;
    color: black;
}

