
.container{
    background-image: url('./acasaBackground.jpg');
    backgound-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.c{
    text-align: center;
    color: black;
    font-size: 50px;
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    top: 30%;
    width: 100%;
}

div.bottomRight{
    position: absolute;
    bottom: 150px;
    right: 100px;
    font-size: 30px;
    color: black;
}

div.bottomRightCoordinator{
    position: absolute;
    bottom: 100px;
    right: 250px;
    font-size: 30px;
    color: black;
}

div.copyrightLucrare{
    position: absolute;
    bottom: -50px;
    right: 50px;
    font-size: 15px;
    color: black;
}


div.paperName{
    position:absolute;
    top: 130px;
    left: 50px;
    font-size:30px;
    color:black;
}

div.paperName1{
    position:absolute;
    top: 134px;
    left: 249px;
    font-size:26px;
    color:black;
}


div.description{
    position:absolute;
    top: 180px;
    left: 50px;
    font-size:30px;
    color:black;
}

div.description1{
    position:absolute;
    top: 230px;
    left: 100px;
    font-size:26px;
    color:black;
}

div.space {
    line-height: 1.6;
}
