
.container{
    background-image: url('./acasaBackground.jpg');
    backgound-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.c{
    text-align: center;
    color: black;
    font-size: 50px;
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    top: 30%;
    width: 100%;
}

div.bottomRight{
    position: absolute;
    bottom: 150px;
    right: 100px;
    font-size: 30px;
    color: black;
}

div.bottomRightCoordinator{
    position: absolute;
    bottom: 100px;
    right: 250px;
    font-size: 30px;
    color: black;
}

div.copyrightNews{
    position: absolute;
    bottom: -24px;
    right: 50px;
    font-size: 15px;
    color: black;
}

div.faceRecognition1{
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 25px;
    color: black;
}

