
.container{
    background-image: url('./acasaBackground.jpg');
    backgound-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.c{
    text-align: center;
    color: black;
    font-size: 50px;
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    top: 30%;
    width: 100%;
}

div.bottomRight{
    position: absolute;
    bottom: 150px;
    right: 100px;
    font-size: 30px;
    color: black;
}

div.bottomRightCoordinator{
    position: absolute;
    bottom: 100px;
    right: 250px;
    font-size: 30px;
    color: black;
}

div.copyrightStudent{
    position: absolute;
    bottom: -50px;
    right: 50px;
    font-size: 15px;
    color: black;
}

img {

    display:block;
    height:300px;
    width:300px;
    padding: 5px;
    position: absolute;
    top: 40px;
    left: -130px;
}

div.imgcacat{
    width:300px;
}

div.studentName{
    position: absolute;
    top: 120px;
    left: 450px;
    font-size: 28px;
    color: black;
}

div.studentGroup{
    position: absolute;
    top: 170px;
    left: 450px;
    font-size: 28px;
    color: black;
}

div.studentFaculty{
    position: absolute;
    top: 220px;
    left: 450px;
    font-size: 28px;
    color: black;
}

div.technology{
    position: absolute;
    top: 310px;
    left: 450px;
    font-size: 28px;
    color: black;
}

div.first{
    position: absolute;
    top:316px;
    left:730px;
}

div.firstInter{
    position: absolute;
    top: 316px;
    left: 753px;
    font-size: 23px;
    color: black;
}

div.second{
    position: absolute;
    top:350px;
    left:730px;
}

div.secondInter{
    position: absolute;
    top: 350px;
    left: 753px;
    font-size: 23px;
    color: black;
}

div.third{
    position: absolute;
    top:384px;
    left:730px;
}

div.thirdInter{
    position: absolute;
    top: 384px;
    left: 753px;
    font-size: 23px;
    color: black;
}

div.fourth{
    position: absolute;
    top:419px;
    left:730px;
}

div.fourthInter{
    position: absolute;
    top: 419px;
    left: 753px;
    font-size: 23px;
    color: black;
}